.#*

# Package Files #
*.jar
*.war
*.ear

## Plugin-specific files:
.clwb/

# IntelliJ
/out/
/lib/
.ijwb/

buck-out/
.buckd/
.buckconfig.local

.idea/
pom.xml
*.iml

# Logs
*.log
.gdb_history

bazel*
user.bazelrc

# Database
ciri/ciri.db*

# ignore all VisualStudioCode user settings
.vscode/
