Makefile
cmake_install.cmake
CTestTestfile.cmake
Testing
bin
CMakeFiles
CMakeCache.txt
.ninja*
*ninja*
*.swp
vgcore*
tags/
build
scripts/node_modules/
scripts/nines
.ycm*
libold/
*.cl.swp.h
*.cl.h
*.h.h
scripts/libccurl.so
