build:remote --jobs=50
build:remote --host_javabase=@bazel_toolchains//configs/debian8_clang/0.4.0:jdk8
build:remote --javabase=@bazel_toolchains//configs/debian8_clang/0.4.0:jdk8
build:remote --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote --crosstool_top=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/default:toolchain
build:remote --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote --extra_toolchains=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/cpp:cc-toolchain-clang-x86_64-default
build:remote --extra_execution_platforms=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote --host_platform=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote --platforms=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote --spawn_strategy=remote
build:remote --strategy=Javac=remote
build:remote --strategy=Closure=remote
build:remote --genrule_strategy=remote
build:remote --define=EXECUTOR=remote
build:remote --remote_cache=remotebuildexecution.googleapis.com
build:remote --remote_executor=remotebuildexecution.googleapis.com
build:remote --tls_enabled=true
build:remote --experimental_strict_action_env=true
build:remote --remote_timeout=3600
build:remote --auth_enabled=true

build:remote-tsan --jobs=50
build:remote-tsan --host_javabase=@bazel_toolchains//configs/debian8_clang/0.4.0:jdk8
build:remote-tsan --javabase=@bazel_toolchains//configs/debian8_clang/0.4.0:jdk8
build:remote-tsan --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote-tsan --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote-tsan --host_crosstool_top=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/default:toolchain
build:remote-tsan --crosstool_top=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/tsan:toolchain
build:remote-tsan --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote-tsan --extra_toolchains=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/cpp:cc-toolchain-clang-x86_64-tsan
build:remote-tsan --extra_execution_platforms=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote-tsan --host_platform=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote-tsan --platforms=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote-tsan --spawn_strategy=remote
build:remote-tsan --strategy=Javac=remote
build:remote-tsan --strategy=Closure=remote
build:remote-tsan --genrule_strategy=remote
build:remote-tsan --define=EXECUTOR=remote
build:remote-tsan --remote_cache=remotebuildexecution.googleapis.com
build:remote-tsan --remote_executor=remotebuildexecution.googleapis.com
build:remote-tsan --tls_enabled=true
build:remote-tsan --experimental_strict_action_env=true
build:remote-tsan --remote_timeout=3600
build:remote-tsan --auth_enabled=true

build:remote-msan --jobs=50
build:remote-msan --host_javabase=@bazel_toolchains//configs/debian8_clang/0.4.0:jdk8
build:remote-msan --javabase=@bazel_toolchains//configs/debian8_clang/0.4.0:jdk8
build:remote-msan --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote-msan --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote-msan --host_crosstool_top=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/default:toolchain
build:remote-msan --crosstool_top=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/msan:toolchain
build:remote-msan --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote-msan --extra_toolchains=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/cpp:cc-toolchain-clang-x86_64-msan
build:remote-msan --extra_execution_platforms=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote-msan --host_platform=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote-msan --platforms=@bazel_toolchains//configs/debian8_clang/0.4.0:rbe_debian8
build:remote-msan --spawn_strategy=remote
build:remote-msan --strategy=Javac=remote
build:remote-msan --strategy=Closure=remote
build:remote-msan --genrule_strategy=remote
build:remote-msan --define=EXECUTOR=remote
build:remote-msan --remote_cache=remotebuildexecution.googleapis.com
build:remote-msan --remote_executor=remotebuildexecution.googleapis.com
build:remote-msan --tls_enabled=true
build:remote-msan --experimental_strict_action_env=true
build:remote-msan --remote_timeout=3600
build:remote-msan --auth_enabled=true

build:docker-sandbox --host_javabase=@bazel_toolchains//configs/debian8_clang/0.4.0:jdk8
build:docker-sandbox --javabase=@bazel_toolchains//configs/debian8_clang/0.4.0:jdk8
build:docker-sandbox --crosstool_top=@bazel_toolchains//configs/debian8_clang/0.4.0/bazel_0.20.0/default:toolchain
build:docker-sandbox --experimental_docker_image=gcr.io/bazel-opensource-rbe/rbe-debian8@sha256:6d747495c83c50f24119b0f2a19211fa38c9fc0aaae66779036f5652fe349b17
build:docker-sandbox --spawn_strategy=docker
build:docker-sandbox --strategy=Javac=docker
build:docker-sandbox --strategy=Closure=docker
build:docker-sandbox --genrule_strategy=docker
build:docker-sandbox --define=EXECUTOR=remote
build:docker-sandbox --experimental_docker_verbose
build:docker-sandbox --experimental_enable_docker_sandbox

build:results --bes_backend="buildeventservice.googleapis.com"
build:results --bes_timeout=60s
build:results --tls_enabled
build:results --bes_results_url="https://source.cloud.google.com/results/invocations/"
build:results-local --bes_backend="buildeventservice.googleapis.com"
build:results-local --bes_timeout=60s
build:results-local --tls_enabled=true
build:results-local --auth_enabled=true
build:results-local --spawn_strategy=local
build:results-local --remote_cache=remotebuildexecution.googleapis.com
build:results-local --remote_timeout=3600
build:results-local --bes_results_url="https://source.cloud.google.com/results/invocations/"

build:remote-cache --remote_cache=remotebuildexecution.googleapis.com
build:remote-cache --tls_enabled=true
build:remote-cache --experimental_strict_action_env=true
build:remote-cache --remote_timeout=3600
build:remote-cache --auth_enabled=true
build:remote-cache --spawn_strategy=standalone
build:remote-cache --strategy=Javac=standalone
build:remote-cache --strategy=Closure=standalone
build:remote-cache --genrule_strategy=standalone
